.photos {
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}